html{
  width: 100vw;
  height: 100vh;
  height: -webkit-fill-available;
  touch-action: none;
  pointer-events: none;
  margin: 10;
  margin-left: 70px;
  margin-right: 40px;
  display: flex;
  background:black;
}

body{
  width: 80vw;
  height: 100vh;
  height: -webkit-fill-available;
  touch-action: none;
  pointer-events: none;
  margin: 0;
  display: flex;
  background:black;
}

a {
  color: hotpink;
}

.column {
  float: left;
  width: 20%;
}

.columnR {
  float: right;
  width: 80%;
}


/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

p, h4{
  font-family: Arial, Helvetica, sans-serif;
}

#faceCanvas,
#webcam {
  width: 75vw;
  height: 75vh;
  object-fit: cover;
  position: absolute;
}

#webcam {
  /* opacity: 0; */
  filter: hue-rotate(20deg) brightness(.3) contrast(1.25);
  transform: scaleX(-1);
}

#faceCanvas {
  /* filter: grayscale(1) brightness(2) contrast(0.5); */
  /* filter: hue-rotate(45deg) brightness(1.5) contrast(0.75); */
  transform: scaleX(-1);
  /* mix-blend-mode: hard-light; */
}